<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>TUNING-PHONE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/home/camargo/Documents/tuning-phone/site/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link href="http://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="/home/camargo/Documents/tuning-phone/site/js/jquery-3.1.0.min.js"></script>
  <script src="/home/camargo/Documents/tuning-phone/site/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/home/camargo/Documents/tuning-phone/site/css/style.css">

  <link rel="shortcut icon" href="/home/camargo/Documents/tuning-phone/site/images/favicons/2_favicon/favicon.ico">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top linear-grad">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="img-rounded navbar-brand" src="/home/camargo/Documents/tuning-phone/site/images/logos/logaster_No_4_small_size_402x75_pixels_(PNG)/1_Primary_logo_on_transparent_402x75.png" alt="logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#portfolio">PRODUTOS</a></li>
        <li><a href="#about">SOBRE</a></li>
        <li><a href="#services">DIFERENCIAIS</a></li>
        <li><a href="#sustainability">SUSTENTABILIDADE</a></li>
        <li><a href="#contact">CONTATO</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="header text-center">
</div>

<!-- Container (Pricing Section) -->
<div id="portfolio" class="container-fluid bg-grey slideanim">
  <div class="text-center">
    <h2>PRODUTOS</h2>
    <h4>Visite nossa loja no MercadoShops</h4>
  </div>

  <div class="container">
    <div class="row"></div>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid slideanim">
  <div class="row">
    <div class="col-sm-8" align="justify"><h2>SOBRE</h2>
      <h3>100% brasileira, a <strong>tuning-phone</strong>® é a mais nova loja de acessórios para smartphones na internet. Todos os produtos vendidos através do MercadoShops e MercadoLivre pelos melhores preços e com condições incríveis de pagamento! </H3><br>
    </div>
    <div class="col-sm-4">
      <img src="/home/camargo/Documents/tuning-phone/site/images/marketing/empresa-brasileira.jpg" class="img-rounded img-circle" alt="Brasil!">
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center bg-grey slideanim">
  <h2>DIFERENCIAIS</h2>
  <h4>O que oferecemos</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-refresh logo-medium"></span>
      <h3>MODERNIDADE</h3>
      <p>Os produtos mais recentes</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-thumbs-up logo-medium"></span>
      <h3>SATISFAÇÃO</h3>
      <p>Você vai gostar</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-medium"></span>
      <h3>BAIXO CUSTO</h3>
      <p>Preços baixos e condições incríveis</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-medium"></span>
      <h3>QUALIDADE</h3>
      <p>Produtos que duram</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-medium"></span>
      <h3>SEGURANÇA</h3>
      <p>Compre com a segurança MercadoShops e MercadoLivre</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-medium"></span>
      <h3>SUSTENTABILIDADE</h3>
      <p>Consciência com o meio-ambiente</p>
    </div>
  </div>
</div>

<div class="text-center">
  <h2>O que nossos clientes dizem</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"Encontrei o que queria por menos do que imaginava!"<br><span style="font-style:normal;">Luis Rossi</span></h4>
      </div>
      <div class="item">
        <h4>"A melhor de todas, adorei!"<br><span style="font-style:normal;">Suzana Aleixo</span></h4>
      </div>
      <div class="item">
        <h4>"A entrega &eacute; r&aacute;pida! Satisfeito!"<br><span style="font-style:normal;">Pedro Diniz</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Sustainability Section) -->
<div id="sustainability" class="container-fluid bg-green slideanim">
  <h2 class="text-center">SUSTENTABILIDADE</h2>
  <div class="row" align="justify">
    <div class="col-sm-4">
      <img src="/home/camargo/Documents/tuning-phone/site/images/marketing/sustentabilidade-arvore.jpg" class="img-rounded img-circle" alt="Sustentabilidade">
    </div>

    <div class="col-sm-4">
      <img src="/home/camargo/Documents/tuning-phone/site/images/marketing/sustentabilidade-embalagem.jpg" class="img-rounded img-circle" alt="Sustentabilidade">
    </div>

    <div class="col-sm-4 sustainability-text">
      Na tuning-phone®, as notas fiscais enviadas para você são impressas com papéis recicláveis. As caixas e embalagens de envio também. Isso é preocupação com o futuro e senso de responsabilidade.
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid contact-info bg-grey slideanim">
  <h2 class="text-center">CONTATO</h2>
  <div class="row">
    <div class="col-sm-4">
      <p><span class="glyphicon glyphicon-time"></span> Horário de atendimento: das 08h00 às 16h00, <br> de segunda à sexta-feira, horário de Brasília <br>(exceto feriados)</p>
    </div>
    <div class="col-sm-4">
      <p><span class="glyphicon glyphicon-road"></span> Endereço: Avenida Paulista, 282 - Jardim Paulista</p>
      <p>Centro - São Paulo - SP (03125-850)</p>
    </div>
    <div class="col-sm-4">
      <p><span class="glyphicon glyphicon-phone"></span> (11) 5854-5458</p>
      <p><span class="glyphicon glyphicon-envelope"></span> sac@tuning-phone.com.br</p>
      <p><span class="glyphicon glyphicon-envelope"></span> vendas@tuning-phone.com.br</p>
    </div>
  </div>
</div>

<footer class="container-fluid text-center slideanim linear-grad">
<div class="col-sm-6 alert" align="justify">
    <strong>tuning-phone®</strong> é uma marca registrada de TUNING-PHONE COMERCIO DE ACESSÓRIOS | CNPJ: 56.655.468/1002-98 | Todos os direitos reservados | A tuning-phone se reserva ao direito de isentar-se de responsabilidade por erros descritivos | Quaisquer imagens dos produtos são meramente ilustrativas, podendo variar de acordo com o fornecedor ou configurações de vídeo.
  </div>
  <div class="col-sm-6 alert text-center" align="justify">
    <h4>Formas de pagamento</h4>
    <img src="/home/camargo/Documents/tuning-phone/site/images/background/formas-pgto.png" class="img-rounded" alt="Pense verde" width="500px" length="300px">
  </div>

  <a href="#myPage" title="Topo">
    <span class="glyphicon glyphicon-menu-up"></span>
  </a>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>

